<section class="hero">
  <div class="container">
    <p>This is Hero</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet porro suscipit eligendi odit cum molestiae! Voluptates distinctio repudiandae possimus voluptate consequatur, assumenda consequuntur quisquam praesentium labore vitae ullam quia eius laboriosam cupiditate, porro et corrupti, illo quo nisi. Temporibus quis quae laudantium harum doloribus autem sapiente, deserunt quidem dolorum aperiam, sint facilis quasi velit adipisci voluptate porro facere labore eos provident cumque accusantium iure. Autem eius veniam dignissimos ipsam culpa rerum animi quas esse suscipit? Vero voluptatibus sint architecto nesciunt saepe, iure commodi fuga blanditiis laborum exercitationem veritatis voluptates ducimus ab dolorem ipsum suscipit quos distinctio dicta illo labore qui.</p>
  </div>
</section>